/* Общие стили */
body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
	
    margin: 0;
    padding: 0px;
}
a{
	text-decoration: none;
	color:#000;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333333;
}

/* Стили для навигационного меню */
nav {
	display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; /* Фон меню */
    padding: 15px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    max-height: 50px; /* Задаем высоту логотипа */
    margin-right: 10px; /* Отступ между логотипом и названием */
	
}

.shop-name {
    font-size: 24px;
    font-weight: bold;
    color: #e0c83a;
	
}

.nav-menu {
    list-style-type: none;  /* Убираем маркеры списка */
    margin: 0;
    padding: 0;
    display: flex;  /* Flexbox для горизонтального расположения */
    justify-content: center;  /* Центрирование меню */
}

.nav-menu li {
    margin-right: 20px;  /* Отступ между вкладками */
}

.nav-menu li:last-child {
    margin-right: 0;  /* Убираем отступ у последней вкладки */
}

.nav-menu li a {
    text-decoration: none;
    color: white;  /* Цвет текста ссылок */
    font-size: 16px;
    padding: 10px 15px;
    background-color: #333;  /* Фон ссылок */
    transition: background-color 0.3s ease;
	border-radius: 12px; /* Скругление углов */
	
}

.nav-menu li a:hover {
    background-color: #e0c83a;  /* Изменение фона при наведении */
	border-radius: 12px; /* Скругление углов */
}

/* Стили для изображения и текста */
.content {
    display: flex; /* Flexbox для размещения изображения и текста в строку */
    align-items: flex-start; /* Выравниваем элементы по верхней линии */
    gap: 20px; /* Отступ между изображением и текстом */
}

.product-image {
    width: 300px; /* Фиксированная ширина для изображения */
    height: auto; /* Автоматическая подгонка высоты */
}

.text-content {
    flex: 1; /* Занимает оставшееся пространство */
}

h2 {
    background-color: #eaeaea;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
	border-radius: 12px; /* Скругление углов */
}

/* Стили для краткого описания */
.short-description {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
    margin-bottom: 20px;
}

/* Стили для списка характеристик */
.product-specs {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.product-specs li {
    background-image: url('images/marker.png'); /* Путь к изображению маркера */
    background-repeat: no-repeat;
    background-size: 16px 16px;
    padding-left: 25px;
    margin-bottom: 10px;
    background-position: 0 50%;
}

/* Стили для подробного описания */
.detailed-description {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-bottom: 20px;
}

hr {
    border: none;
    border-top: 1px solid #cccccc;
    margin: 30px 0;
}

.footer-text {
    text-align: center;
    color: #999999;
    font-size: 14px;
}

/* Стили для секций */
.tab-content {
    padding: 50px;
    margin: 20px 0;
}

/* Общие стили для списков */
ul.stylish-list {
    list-style-type: none; /* Убираем стандартные маркеры */
    padding: 0;
    margin: 0;
}

ul.stylish-list li {
    background-color: #f8f9fa; /* Фон для каждого элемента */
    margin-bottom: 10px; /* Расстояние между элементами */
    padding: 15px 20px; /* Внутренние отступы */
    border-radius: 8px; /* Скругление углов */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Легкая тень для объема */
    display: flex; /* Используем flex для выравнивания */
    align-items: center;
	position: relative;
}

ul.stylish-list li:before { /* Не пработает */
    content: ''; /* Убираем символ */
    background-image: url('./images/marker.png'); 
    background-repeat: no-repeat; /* Не повторять изображение */
    background-size: 16px 16px; /* Размер изображения */
    width: 16px; /* Ширина  */
    height: 16px; /* Высота  */
    position: absolute; /* Позиционирование */
    left: 10px; /* Расстояние от левого края */
    top: 50%; /* Центрирование по вертикали */
    transform: translateY(-50%); /* Коррекция по вертикали */
}

ul.stylish-list li:hover {
    background-color: #e2e6ea; /* Изменение фона при наведении */
    transition: background-color 0.3s ease; /* Плавное изменение фона */
}

/* Стили для текста в списке */
ul.stylish-list li span {
    font-size: 16px;
    color: #333; /* Основной цвет текста */
    font-weight: bold;
	margin-left: 30px;
}


/* Общие стили для списка моделей */
.catalog-list {
    display: flex;
    flex-wrap: wrap; /* Позволяет переносить элементы на новую строку */
    gap: 20px; /* Расстояние между карточками */
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.catalog-item {
	position: relative; /* Для позиционирования псевдоэлемента */
	border: 1px solid #ccc; /* Граница по умолчанию */
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: calc(33.333% - 20px); /* Размер карточки (3 на строку) */
    text-align: center;
    transition: transform 0.3s ease;
}

.catalog-item:hover {
    transform: translateY(-5px); /* Анимация при наведении */
}

.catalog-item img {
    max-width: 27%;
    height: auto;
}

.catalog-item h3 {
    font-size: 18px;
    color: #333;
    padding: 10px;
    background-color: #f8f8f8;
    margin: 0;
}

.catalog-item p {
    font-size: 14px;
    color: #707070;
    padding: 0 15px 15px;
    margin: 0;
}

.out-of-stock {
    background-color: #f0f0f0; /* Серый фон для отсутствующего товара */
    border-color: #999; /* Темная граница для серой карточки */
    opacity: 0.7; /* Уменьшенная непрозрачность для визуального обозначения */
}

.out-of-stock::after {
    content: "Нет в наличии"; /* Текст о недоступности */
    position: absolute; /* Позиционирование */
    top: 50%; /* Центрирование по вертикали */
    left: 50%; /* Центрирование по горизонтали */
    transform: translate(-50%, -50%); /* Центрируем текст */
    padding: 5px 10px; /* Отступы текста */
    border-radius: 5px; /* Округление углов */
    font-weight: bold; /* Жирный текст */
    color: red; /* Цвет текста */
    z-index: 10; /* Повышаем z-index для текста */
}

/* Стили для кнопки */
.buy-button {
    background-color: #007bff; /* Цвет фона */
    color: white; /* Цвет текста */
    border: none; /* Убираем границы */
    border-radius: 8px; /* Скругление углов */
    padding: 10px 60px; /* Внутренние отступы */
    font-size: 16px; /* Размер шрифта */
    cursor: pointer; /* Указатель для курсора */
    transition: background-color 0.3s ease; /* Плавный переход фона */
    margin-top: 20px; /* Отступ сверху */
}

/* Эффект при наведении */
.buy-button:hover {
    background-color: #28a745; /* Цвет при наведении (зеленый) */
}


/* Стили для иконок */
.home-icon,
.katalog-icon,
.about-icon,
.cart-icon {
    width: 24px; /* Установите ширину иконки */
    height: auto; /* Автоматическая высота */
    vertical-align: middle; /* Центрирование иконки по вертикали */
}

.cart-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cart-item {
    display: flex;
    align-items: center;
    background-color: #f8f9fa;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cart-item-image {
    width: 100px; /* Ширина изображения */
    height: auto; /* Автоматическая высота */
    margin-right: 15px; /* Отступ справа */
}

.cart-item-details {
    flex: 1; /* Занимает оставшееся пространство */
}

.remove-button {
    background-color: #dc3545; /* Красный цвет для удаления */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.remove-button:hover {
    background-color: #c82333; /* Темнее при наведении */
}

.cart-summary {
    margin-top: 20px;
    text-align: right; /* Выравнивание по правому краю */
}

.checkout-button {
    background-color: #28a745; /* Зеленый цвет для оформления заказа */
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.checkout-button:hover {
    background-color: #218838; /* Темнее при наведении */
}


/* 
	КАРУСЕЛЬ
*/

.content {
    display: flex; /* Используем flexbox для размещения карусели и текста в строку */
    align-items: flex-start; /* Выравнивание по верхнему краю */
}

.carousel {
    display: flex; /* Flexbox для размещения изображений и видео в строку */
    align-items: center; /* Центрируем элементы по вертикали */
    position: relative;
    overflow: hidden; /* Скрываем переполнение */
    max-width: 100%; /* Устанавливаем максимальную ширину карусели на 100% */
    margin: 0 auto 20px; /* Центрируем карусель и добавляем отступ снизу */
}

.carousel-images {
    display: flex; /* Flexbox для размещения изображений и видео */
    transition: transform 0.5s ease; /* Плавный переход при смене слайда */
    width: 406px; /* Устанавливаем ширину на 100% */
	height: auto;
}

.carousel-item {
    min-width: 100%; /* Каждому элементу карусели задаём ширину 100% */
    box-sizing: border-box; /* Учитываем отступы и границы в ширину */
}

.product-image {
    width: 100%; /* Устанавливаем ширину на 100% */
    height: auto; /* Сохраняем пропорции */
    border-radius: 5px; /* Округляем углы */
}

/* Дополнительные стили для видео */
.product-video {
    width: 100%; /* Установите ширину видео на 100% */
    height: 100%; /* Сохраняйте пропорции видео */
    max-height: 100%; /* Установите максимальную высоту видео на мобильных устройствах */
    border-radius: 5px; /* Округление углов видео */
    object-fit: cover; /* Заполнение области видео */
    display: block; /* Обеспечьте блочное отображение */
}


.carousel-control {
    position: absolute; /* Позиционируем кнопки относительно карусели */
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8); /* Полупрозрачный фон */
    border: none;
    cursor: pointer;
    padding: 5px;
}

.carousel-control.prev {
    left: 10px; /* Положение левой кнопки */
}

.carousel-control.next {
    right: 10px; /* Положение правой кнопки */
}




/*  АДАПТИВНЫЙ ДИЗАЙН */

/* Адаптивный дизайн до 768px  */
@media (max-width: 768px) {
	.shop-name {
        display: none; /* Скрываем название магазина */
    }

    .logo {
        max-height: 35px; /* Уменьшаем высоту логотипа */
    }
    .container {
        padding: 10px; /* Уменьшаем отступы для меньших экранов */
    }

    nav {
        display: flex;
        justify-content: space-between; /* Размещаем логотип и меню по краям */
        align-items: center; /* Центрируем элементы по вертикали */
        padding: 10px; /* Добавляем отступы вокруг навигационного меню */
    }

    .logo-container {
        flex: 0 1 auto; /* Не растягивать логотип */
    }

    .nav-menu {
        display: flex; /* Используем flexbox для меню */
        justify-content: flex-end; /* Выравниваем кнопки по правому краю */
        padding: 0; /* Убираем отступы */
        list-style: none; /* Убираем маркеры списка */
        margin: 0; /* Убираем внешние отступы */
    }

    .nav-menu li {
        margin-left: 15px; /* Добавляем отступы между кнопками */
    }

    .nav-menu li a {
        padding: 10px; /* Добавляем внутренние отступы к кнопкам */
    }

    .content {
        flex-direction: column; /* Изображение и текст столбцом */
    }

    .carousel {
        max-width: 100%; /* Установите максимальную ширину карусели на 100% */
        margin: 0 auto 20px; /* Центрируем карусель и добавляем отступ снизу */
        order: 1; /* Устанавливаем порядок отображения */
    }

    .carousel-images {
        display: flex; /* Flexbox для размещения изображений и видео */
        position: relative; /* Позиционирование для кнопок управления */
        width: 100%; /* Устанавливаем ширину карусели на 100% */
    }
	
	.product-video {
        max-height: 100%; /* Устанавливаем максимальную высоту для мобильных устройств */
        border-radius: 5px; /* Округляем углы видео */
        object-fit: cover; /* Заполняем область кадра */
        display: block; /* Обеспечиваем блочное отображение */
    }

    .product-image {
        width: 100%; /* Устанавливаем ширину изображения и видео на 100% */
        height: auto; /* Сохраняем пропорции */
        border-radius: 5px; /* Округляем углы */
    }

    .carousel-control {
        position: absolute; /* Позиционируем кнопки относительно карусели */
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(255, 255, 255, 0.8); /* Полупрозрачный фон */
        border: none;
        cursor: pointer;
        padding: 5px;
        z-index: 1; /* Повышаем z-index для кнопок */
    }

    .carousel-control.prev {
        left: 10px; /* Положение левой кнопки */
    }

    .carousel-control.next {
        right: 10px; /* Положение правой кнопки */
    }

    .text-content {
        order: 2; /* Устанавливаем порядок отображения текста */
        width: 100%; /* Ширина текста на 100% */
    }

    .buy-button, .remove-button, .checkout-button {
        width: 100%; /* Устанавливаем ширину кнопок на 100% для заполнения доступного пространства */
        padding: 10px; /* Увеличьте отступы для более крупной кнопки */
        font-size: 16px; /* Увеличьте размер шрифта для лучшей читаемости */
    }

    .catalog-item {
        width: calc(100% - 20px); /* Карточка на всю ширину */
        margin-bottom: 15px;   /* Добавляем отступ между элементами */
        text-align: center;     /* Центрируем текст в карточке */
    }
    
    .catalog-list {
        display: flex;
        flex-direction: column; /* Размещаем элементы в столбик */
        align-items: center;    /* Центрируем элементы по горизонтали */
        padding: 0;            /* Убираем отступы */
    }
    
    .tab-content {
        padding: 5px;
        margin: 20px 0;
    }
	
	.remove-button {
        padding: 4px 10px; /* Увеличьте отступы для более крупной кнопки */
        font-size: 16px; /* Увеличьте размер шрифта для лучшей читаемости */
        width: 45%; /* Установите ширину кнопки на 100% для заполнения доступного пространства */
    }
	
	.checkout-button {
        padding: 14px 25px; /* Увеличьте отступы для более крупной кнопки */
        font-size: 16px; /* Увеличьте размер шрифта для лучшей читаемости */
        width: 100%; /* Установите ширину кнопки на 100% для заполнения доступного пространства */
    }
	
	.buy-button {
		background-color: #28a745;
	}
}

/* Адаптивный дизайн для экранов до 480px (очень маленькие устройства) */
@media (max-width: 480px) {
    .shop-name {
        font-size: 18px; /* Уменьшаем размер текста */
    }

    .buy-button {
        width: 100%; /* Кнопка на всю ширину */
    }
}
